#environment
.env

#42 setup
$HOME

#back
log
logs
.log
.logs
db.sqlite3

frontend/node_modules
node_modules

#ssl
ssl/certs
ssl/private


#volume
volume
volume/postgres-data
volume/vaul-data
volume/db-data

#MISC
TODO.md
.DS_Store