#environment
#.env /!\ to uncomment before final push

#42 setup
$HOME

#back
log
logs
.log
.logs
db.sqlite3

frontend/node_modules
node_modules

#ssl
ssl/certs
ssl/private

#vault
vault/vault-data

#volume
postgres-data
db-data

#MISC
TODO.md
.DS_Store