@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

/*Navbar top screen*/
.navbar {
	height: 8vh;
	width: 100%;
	position : fixed;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index : 150;
	top : 0%;
  }

.navbar__title {
	font-family: 'Bungee';
	display: flex; 
	font-size: 40px;
	/*border: 5px solid #f4f0e3;*/
	padding : 0px 15px;
	border-radius:10px;
	text-decoration: none;
	color: #f4f0e3;
	position: relative;
  }

  /*Avatar */
.nav--avatar{
	padding-right: 10px;
	display:flex;
	flex-direction: row;
	align-items: center;
	gap: 5px;
}

.nav-avatar > button {
	background: none;
	border: none;
}

.nav-logout-icon:hover {
	color:#90d0f0;
}

/*Logout_btn*/
.logout_btn {
	font-size: 16px;
	color: #fff;
	background-color: rgba(0, 0, 0, 0.4);
	display: flex;
	flex-direction: row;
	align-items: center;
	cursor: pointer;
	margin: 0 auto;
	transition : color 0s;
}

.logout_btn:hover {
	color : #000;
}

/*sidebar*/
.nav-menu {
	background-color: #f4f0e38c;
	width: 200px;
	height: 100%;
	display: flex;
	justify-content: center;
	backdrop-filter: blur(10px);
	position: fixed;
	top: 8%;
	z-index: 100;
  }

.nav-text {
	height: 60px;
	font-size:50px;
	color: #000;
  }

.nav-text a {
	text-decoration: none;
	font-weight: bold;
	color: #7b9dd2;
	font-size: 30px;
	height: 100%;
	display: flex;
	margin-left : auto;
	align-items: center;
	padding: 0 20px;
	border-radius: 4px;
	transition: color 0s;
  }

.nav-text a:hover{
 	color: #f4f0e3;
  }

.nav-menu-items {
	font-size: 30px;
	flex-direction: column;
	margin-left: -100px;
  }

.item_title{
	font-family: 'Pixelify Sans';
	font-size: large;
	text-align: center;
 }

.sidebar_image {
	height: 30px;
	width: 30px;
	padding : 10px;
	top: 50;
	border-radius: 5px;
 }

	/* Burger menu  */

.nav-elements{
	display: flex;
	flex-direction: column;
	width: 70px;
	position: relative;
  }

.nav-elements span{
	background: #59c2a8;
	border-radius: 5px;
	height: 7px;
	margin: 7px;
  }

/* Les barres du burger menu  */

.span1{
	width: 50%;
	flex-direction: column;
  }

.span2{
	width: 100%;
	flex-direction: column;
  }

.span3{
	width: 75%;
	flex-direction: column;
  }

/* Display du burger button */

input[type="checkbox"]{
	display:none;
}