@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

/*Navbar top screen*/
.navbar {
	height: 8vh;
	width: 100%;
	position : fixed;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index : 150;
	top : 0%;
  }

.navbar__title {
	font-family: 'Bungee';
	display: fixed; 
	font-size: 40px;
	margin-left: 170px;
	margin-right: 100px;
	margin-top: 0px;
	padding : 0px 15px;
	border-radius:10px;
	text-decoration: none;
	color: #f4f0e3;
	position: relative;
  }

  /*Avatar */
.nav--avatar{
	padding-right: 10px;
	display:flex;
	flex-direction: row;
	align-items: center;
	gap: 5px;
}

.nav-avatar > button {
	background: none;
	border: none;
}

.nav-logout-icon:hover {
	color:#90d0f0;
}

/*Logout_btn*/
.logout_btn {
	width: 100px; /* Largeur fixe de 200 pixels */
    height: 35px;
	font-size: 23px;
    font-family: 'Pixelify Sans';
	padding : 7px;
	color: var(--bouton_text);
	background-color: var(--bouton_BG);
	display: flex;
	flex-direction: row;
	align-items: center;
	cursor: pointer;
	margin: 0 auto;
	transition : color 0s;
}

.logout_btn:hover {
	background-color: var(--bouton_BG_hover);
}

/*sidebar*/
.nav-menu {
	/*background-color: #f4f0e38c;*/
	width: 190px;
	height: 100%;
	display: flex;
	justify-content: center;
	border-radius: 5px;
	/*backdrop-filter: blur(10px);*/
	position: fixed;
	top: 0%;
	z-index: 100;
  }

.nav-text {
	height: 60px;
	font-size:50px;
	color: #000;
  }

.nav-text a {
	text-decoration: none;
	font-weight: bold;
	color: var(--bouton_text);
	font-size: 30px;
	height: 100%;
	display: flex;
	margin-left : auto;
	align-items: center;
	padding: 0 20px;
	border-radius: 4px;
	transition: color 0s;
  }

.nav-text a:hover{
 	color: var(--bouton_text_hover);
  }

.nav-menu-items {
	display: flex;
	flex-direction: column;
	gap: 20px;
	font-size: 30px;
	margin-left: -140px;
	margin-top: 70px;

  }

.flag_btn {
	position: fixed;
	flex-direction: column;
    bottom: 25px;
    left: -100px;
    display: flex;
	gap: 0px;
}

.settings_btn {
	font-weight: bold;
	color: var(--bouton_text);
	font-size: 30px;
	flex-direction: column;
	margin-top: 93vh;
	margin-left : -36vh;
	align-items: center;
	transition: color 0s;
	z-index: 3;
	flex-wrap: nowrap;
}

.item_title{
	font-family: 'Pixelify Sans';
	font-size: large;
	text-align: center;
 }

.sidebar_image {
	height: 30px;
	width: 30px;
	padding : 10px;
	top: 50;
	border-radius: 5px;
 }

	/* Burger menu  */

.nav-elements{
	display: flex;
	flex-direction: column;
	width: 70px;
	position: relative;
  }

.nav-elements span{
	background: #aedcc9;
	border-radius: 5px;
	height: 7px;
	margin: 20px;
  }

/* Les barres du burger menu  */

.span1{
	width: 0%;
	flex-direction: column;
  }

.span2{
	width: 0%;
	flex-direction: column;
  }

.span3{
	width: 0%;
	flex-direction: column;
  }

/* Display du burger button */

input[type="checkbox"]{
	display:none;
}