@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Pacifico&display=swap');

.navbar {
	height: 8vh;
	width: 100%;
	position : fixed;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index : 150;
	top : 0%;
  }

.navbar__title {
	font-family: 'Bungee';
	display: flex; 
	font-size: 40px;
	border: none;
	text-decoration: none;
	color: #fff;
	position: relative;
  }

/* Menu qui apparait quand tu clique sur la croix  */
.nav-menu {
	background-color: rgba(0, 0, 0, 0.1);
	width: 250px;
	height: 100%;
	display: flex;
	justify-content: center;
	position: fixed;
	top: 8%;
	left: -100%;
	transition: 850ms;
	z-index: 100;
  }

.nav-menu.active {
	left: 0;
	transition: 350ms;
	z-index: 1000;
  }

.nav-text {
	height: 60px;
	font-size:50px;
	border: none;
	color: #000;
	text-decoration: none;
  }

.nav-text a {
	text-decoration: none;
	color: #000;
	font-size: 30px;
	height: 100%;
	display: flex;
	align-items: center;
	padding: 0 30px;
	border-radius: 4px;
  }

.nav-text:hover{
 	color: #fff;
  }

.nav-menu-items {
	font-size: 18px;
  }

.item_title{
	font-family: 'Bungee';
	font-size: large;
	text-align: center;
  }
	
	/* Burger menu  */

.nav-elements{
	display: flex;
	flex-direction: column;
	width: 70px;
	position: relative;
	transform: scale(0.6);
  }

.nav-elements span{
	background: #000;
	border-radius: 5px;
	height: 7px;
	margin: 7px;
  }

/* Les barres du burger menu  */

.span1{
	width: 50%;
  }

.span2{
	width: 100%;
  }

.span3{
	width: 75%;
  }

/* Display et rotation pour former la croix  */

input[type="checkbox"]{
	display:none;
}

input[type="checkbox"]:checked ~ .span1{
	transform-origin:bottom;
	transform:rotateZ(45deg) translate(8px,0px)
  }

input[type="checkbox"]:checked ~ .span2{
	transform-origin:top;
	transform:rotateZ(-45deg)
  }

input[type="checkbox"]:checked ~ .span3{
	transform-origin:bottom;
	width:50%;
	transform:translate(30px,-11px) rotateZ(45deg)
  }