@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');


#play-screen {
    height: 92vh;
    display: flex;
    justify-content: center;
}

.btn__play {
    font-family: 'Pixelify Sans';
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left : 69vh;
    margin-top: 49vh;
    padding: 15px 15px;
    /*height: 5vh;*/
    background-color: #dad4de;
    border: 6px solid #bbb4da;
    border-radius:20px;
    letter-spacing:5px;
    cursor: pointer;
    font-weight: bold;
    transition: .5s;
    position: absolute;
    top: 50%;
    transform: translateY(-500%);
    transition: color 0.3s;
}

.btn__play :hover {
    color: #bbb4da;
}

.link-login {
	font-weight: bold;
	color: #ffffff;
	font-size: 30px;
	text-decoration: none;
}