@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Pacifico&display=swap');

.login__button {
    background-color: rgba(0, 0, 0, 0.3);
}

.link__login {
    font-size: large;
    font-family: 'Bungee';
    color: black;
}