@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Pacifico&display=swap');
@import url('https://fonts.google.com/share?selection.family=Pixelify+Sans:wght@400..700');


.login__button {
    background-color: #bbb4da;
}

.link__login {
    font-size: 23px;
    font-family: 'Pixelify Sans';
    color: #dad4de;
    transition: color 0s;
}

.link__login:hover {
    color : #f4f0e3;
}