#navicon--avatar {
    margin-top: 10px;
  }

#nav--avatar {
    height: 70px;
    width: 70px;
    border-radius: 50%;
  }

.dropdown--menu a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

.dropdown--menu a:hover {
    background-color: #f1f1f1;
  }